$primary: #FFCB05;
$primary_light: #FFE580;
$white: #fff;
$gray_light: #95959D;
$gray: #444753;
$border_color: #424653;
$border_color_light: #4F5261;

$black: #231F20;
$black_hover: $border_color;

$col_padding: 24px;
$columns: 12;
$orders_count: 10;

$brake_points: ("sm": 360, "md": 768, "lg": 1200);