@import "top";
@import "center";
@import "year";
@import "plus";

.b-header__wrapper{
  background: black;
  margin-top: 0;
  padding-top: 32px;
  color: $white;

  [class*='col'],
  [class*='col'] > *{
    position: relative;
    z-index: 2;
  }
}

