:root {
	box-sizing: border-box;
}

*, ::before, ::after {
	box-sizing: inherit;
}

:focus {outline: none !important;}
::-moz-focus-inner {border: 0px !important;}

html, body {
	
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	
	width: 100%;
	height: 100%;
}

@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}

body {
	margin: 0;
	padding: 0;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}


div#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* animation */
@keyframes left {
	from {
		transform: translateX(200px);
	}
	to {
		transform: translateX(0px);
	}
}

.main {
    flex-grow: 1;
	overflow-x: clip;
}

.home {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* home header */
.home.header {
    background: #FAFAFA;
}

.home.header .block-header {
    display: flex;
    width: 100%;
    max-width: 1440px;
    align-items: center;
	position: relative;
	justify-content: space-between;
}

@media (min-width: 768px){
	.home.header .block-header {
		padding: 10px 0;
	}
}

@media (min-width: 1440px){
	.home.header .block-header {
		padding: 15px 0;
	}
}

.home.header .block-header .block.icon.menu {
    display: flex;
    align-items: center;
	margin-left: 10px;
	max-width: 30px;
    cursor: pointer;
    width: 100%;
}


@media (min-width: 768px){
	.home.header .block-header .block.icon.menu {
		margin-left: 30px;
		margin-right: 50px;
		max-width: 35px;
	}
}

.home.header .block-header .block.icon.menu.active {
    max-width: 20px;
}

@media (min-width: 768px){
	.home.header .block-header .block.icon.menu.active {
		max-width: 30px;
	}
}


.home.header .block.logo {
    display: flex;
    height: 45px;
	justify-content: flex-start;
	flex-grow: 1;
	max-width: 450px;
}

@media (min-width: 768px){
	.home.header .block.logo {
		height: 55px;
	}
}

.home.header .wrap-block-adress {
    display: none;
}

@media (min-width: 1280px){
  
	.home.header .wrap-block-adress.first {
		margin-right: 50px;
	}
	
	.home.header .wrap-block-adress {
		color: #140D62;
		display: flex;
	}

	.home.header .wrap-block-adress .icon-block {
		margin-right: .5em;
	}
	
	.home.header .wrap-block-adress.last {
		margin-right: 50px;
	}

	.home.header .wrap-block-adress .icon-block .icon {
		border: 1px solid #2D1FC3;
		border-radius: 3em;
		padding: .5em;
		display: flex;
	}

	.home.header .wrap-block-adress .icon-block .icon img {
		width: 15px;
		height: 15px;
	}

	.home.header .block-adress .city {
		display: flex;
		align-items: center;
	}

	.home.header .block-adress .city .name {
		font-weight: 500;
		font-size: 15px;
		line-height: 18px;
	}

	.home.header .block-adress .city .icon {
		display: flex;
		margin-left: .25em;
		margin-top: .25em;
	}

	.home.header .block-adress .adress {
		font-size: 13px;
		line-height: 16px;
		margin-top: .25em;
	}
}


.home.header .block-header .block.icon.menu > svg rect {
    width: 45px;
    height: 2px;
}

@media (min-width: 768px){
	.home.header .block-header .block.icon.menu > svg rect {
		height: 3px;
	}
}


/* footer */
.home.footer {
    background: #122444;
}

.home.footer .block-footer {
	padding: 1em;
	width: 100%;
}

@media (min-width: 1440px){
	.home.footer .block-footer {
		padding: 2em 0 0;
	}
}

@media (min-width: 768px){
	.home.footer .block-footer .block-logo {
		max-width: 325px;
	}
}

.home.footer .wrap-block-footer {
    display: flex;
	justify-content: space-between;
	flex-direction: column;
	max-width: 1440px;
	margin: 0 auto;
}

@media (min-width: 768px){
	.home.footer .wrap-block-footer {
		flex-direction: row;
	}
}

.home.footer .block-footer .block-logo .logo {
	display: flex;
	color: white;
	justify-content: center;
	margin-bottom: .5em;
	align-items: center;
}

@media (min-width: 768px){
	.home.footer .block-footer .block-logo .logo {
		justify-content: flex-start;
	}
}

.home.footer .block-footer .block-logo .logo svg {
	width: 2em;
	height: 2em;
}

@media (min-width: 768px){
	.home.footer .block-footer .block-logo .logo .name {
		font-size: 23px;
		line-height: 28px;
	}
}

@media (min-width: 1440px){
	.home.footer .block-footer .block-logo .logo .name {
		font-size: 25px;
		line-height: 30px;
	}
}

.home.footer .block-footer .block-logo .desc {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	color: #FFFFFF;
}

@media (min-width: 768px){
	.home.footer .block-footer .block-logo .desc {
		text-align: left;
		font-size: 14px;
		line-height: 25px;
	}
}

.home.footer .block-footer .block-contacts {
	margin-top: 2em;
}

@media (min-width: 768px){
	.home.footer .block-footer .block-contacts {
		margin-top: 0;
		margin-right: 3em;
	}
}

@media (min-width: 1440px){
	.home.footer .block-footer .block-contacts {
		margin-right: 0;
		display: flex;
	}
}

.home.footer .block-footer .block-contacts .wrap-block-adress {
	display: flex;
	color: white;
	margin-bottom: 1em;
}

@media (min-width: 1440px){
	.home.footer .block-footer .block-contacts .wrap-block-adress.first {
		margin-right: 5em;
	}
}

.home.footer .block-footer .block-contacts .wrap-block-adress .icon-block .icon {
	border: 1px solid white;
	border-radius: 3em;
	padding: .5em;
	margin-right: 1em;
	width: 33px;
	height: 33px;
	display: flex;
}

.home.footer .block-footer .block-contacts .wrap-block-adress .icon-block .icon img {
	object-fit: contain;
}

.home.footer .block-footer .block-contacts .wrap-block-adress .city {
    display: flex;
    align-items: center;
	margin-bottom: .5em;
}

.home.footer .block-footer .block-contacts .wrap-block-adress .city .name {
    margin-right: .5em;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 11px;
	line-height: 13px;
	color: #FFFFFF;
}

@media (min-width: 768px){
	.home.footer .block-footer .block-contacts .wrap-block-adress .city .name {
		font-size: 14px;
		line-height: 17px;
	}
}

.home.footer .block-footer .block-contacts .wrap-block-adress .block-adress .city .icon {
    display: flex;
    margin-top: .25em;
}

.home.footer .block-footer .block-contacts .wrap-block-adress .block-adress .adress {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 13px;
	color: #FFFFFF;
}

@media (min-width: 768px){
	.home.footer .block-footer .block-contacts .wrap-block-adress .block-adress .adress {
		font-size: 14px;
		line-height: 17px;
	}
}

.home.footer .block-footer > .block-links {
	display: flex;
	border-top: 1px solid #14356F;
	padding: 1em;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 1em;
}

@media (min-width: 1440px){
	.home.footer .block-footer > .block-links {
		display: none;
	}
}

.home.footer .block-footer > .block-links .link {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 11px;
	line-height: 13px;
	text-decoration-line: underline;
	color: #FFFFFF;
	margin: 0 .5em;
	margin: .5em;
}

@media (min-width: 768px){
	.home.footer .block-footer > .block-links .link {
		font-size: 15px;
		line-height: 18px;
	}
}

.home.footer .wrap-copyrating {
	border-top: 1px solid #14356F;
	margin-top: 1em;
}

.home.footer .block-footer .copyrating {
	display: flex;
	justify-content: center;
	padding: 1em;
	max-width: 1440px;
	margin: 0 auto;
}


.home.footer .block-footer .copyrating .block-links {
    display: none;
}

@media (min-width: 1440px){
	.home.footer .block-footer .copyrating .block-links {
		display: flex;
	}
}

.home.footer .block-footer .copyrating .block-links .link {
	font-size: 15px;
	line-height: 18px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	text-decoration-line: underline;
	color: #FFFFFF;
	margin-right: 1em;
}

.home.footer .block-footer .copyrating .name {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: #FAFAFA;
}
@media (min-width: 768px){
	.home.footer .block-footer .copyrating .name {
		font-size: 15px;
		line-height: 18px;
	}
}

@media (min-width: 768px){
	.home.footer .block-footer .copyrating {
		justify-content: space-between;
	}
}

@media (min-width: 1440px){
	.home.footer .block-footer .copyrating {
		padding: 1em 0;
		align-items: center;
	}
}


/* mobile menu */

.head .mobile {
    background: #083D8D;
    min-height: 530px;
    max-width: 360px;
    position: absolute;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 999;
    top: 2.85em;
	padding-top: 60px;
}

@media (min-width: 768px){
	.head .mobile {
		top: 4.7em;
	}
}

@media (min-width: 1440px){
	.head .mobile {
		top: 5.4em;
		min-height: 800px;
		padding-top: 150px;
	}
}

.head .mobile .back {
    background: #0E3882;
    border-radius: 5px;
    display: flex;
    padding: 10px 30px;
    align-items: center;
    position: absolute;
    top: 1em;
    left: 1em;
	font-size: .8em;
	cursor: pointer;
	z-index: 2;
}

@media (min-width: 1440px){
	.head .mobile .back {
		top: 75px;
		left: 40px;
		font-size: 16px;
	}
}



.head .mobile .back svg {
    width: 1em;
    height: 1em;
    margin-right: .5em;
}

.head .mobile .menu {
    display: flex;
    align-items: center;
    padding: .9em 0;
    cursor: pointer;
    position: relative;
	z-index: 2;
}

.head .mobile .menu.hover {
	background: linear-gradient(87.2deg, #0C387B -7.61%, #0C387B 47.49%, #083D8D 107.38%);
}


.head .mobile .menu .line {
    width: 4px;
    background: #277EFF;
    top: 0;
    bottom: 0;
    position: absolute;
}

.head .mobile .menu.back svg {
    transform: rotate(180deg);
    margin-right: .25em;
}

.head .mobile .menu .icon {
    margin-right: 1em;
	display: flex;
	margin-right: 1.8em;
}

.head .mobile .menu .icon svg {
	width: 1.3em;
    height: 1.3em;
}

.head .mobile .menu .name {
    font-size: .8em;
    color: #FAFAFA;
    flex-grow: 1;
    text-decoration: none;
	letter-spacing: 0.03em;
	margin-left: 1.5em;
}

@media (min-width: 1440px){
	.head .mobile .menu .name {
		font-size: 16px;
		margin-left: 2.5em;
	}
}


.head .mobile .menu > svg {
    width: 1em;
    height: 1em;
	margin-right: 1.8em;
}



.head .mobile .decoration-1 {
    position: absolute;
    bottom: 3em;
    max-width: 180px;
    max-height: 180px;
}


.head .mobile .decoration-2 {
	position: absolute;
    max-width: 150px;
    top: 0;
    z-index: 1;
}

.head .mobile .decoration-3 {
    position: absolute;
    max-width: 120px;
    top: 2em;
    z-index: 1;
}



.head .top-slider .top .wrap-city {
    position: relative;
	width: 100%;
    max-width: 80px;
	margin-left: .5em;
}

@media (min-width: 768px){
	.head .top-slider .top .wrap-city {
		max-width: 130px;
	}
}


.home.header .block-header .login-in {
    background: #1B5FAF;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 7px 26px;
	margin-right: 10px;
}

@media(min-width: 768px){
	.home.header .block-header .login-in {
		padding: 14px 48px;
		margin-right: 1em;
	}
}

.home.header .block-header .login-in > svg {
    width: 1em;
    height: 1em;
}

@media(min-width: 768px){
	.home.header .block-header .login-in > svg {
		width: 22px;
		height: 22px;
	}
}

.home.header .block-header .login-in > .name {
	margin-left: .25em;
	font-weight: bold;
	font-size: 9px;
	line-height: 11px;
	color: white;
}

@media(min-width: 768px){
	.home.header .block-header .login-in > .name {
		font-size: 12px;
		line-height: 15px;
		margin-left: 7px;
	}
}



.home.header .block-header .basket {
	margin: 0 10px;
	display: flex;
    align-items: center;
}

@media(min-width: 768px){
	.home.header .block-header .basket {
		margin: 0 25px;
	}
}

.home.header .block-header .basket > .name {
    display: none;
}

@media(min-width: 768px){
	.home.header .block-header .basket > .name {
		display: block;
		font-size: 12px;
		line-height: 15px;
		text-align: center;
		color: #140D62;
		font-weight: bold;
		margin-left: .5em;
	}
}

.home.header .block-header .basket > svg {
    width: 20px;
    height: 20px;
}

@media(min-width: 768px){
	.home.header .block-header .basket > svg {
		width: 30px;
		height: 30px;
	}
}





/* content */
.block-content {
    padding: 1em;
	overflow: hidden;
}

@media(min-width: 1440px){
	.block-content {
		padding: 0;
		max-width: 1440px;
		margin: 5em auto 0;
		overflow: visible;
	}
}

.block-content .content {
    z-index: 2;
    position: relative;
}


@media(min-width: 768px){
	.block-content .content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.block-content .content > .name {
    z-index: 5;
    position: relative;
}

.block-content .content > .name > h2 {
    word-break: break-word;
	font-weight: 600;
	font-size: 1.25em;
}

@media(min-width: 1280px){
	.block-content .content:nth-of-type(even) .image-block {
		order: -1;
	}
}

@media(min-width: 1280px){
	
	.block-content .content {
		flex-direction: row;
		margin-bottom: 3em;
		justify-content: space-between;
	}
	
	.block-content .content > div {
		width: 50%;
	}

}

.block-content > h2 {
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
}

@media(min-width: 768px){
	.block-content > h2 {
		font-size: 24px;
		line-height: 29px;
		text-align: left;
	}
}

.block-content .content > .name > h3 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 11px;
	line-height: 13px;
}

@media(min-width: 768px){
	.block-content .content > .name > h3 {
		font-size: 16px;
		line-height: 20px;
	}
}

.block-content .content > .name > p {
    font-size: .8em;
	line-height: 1.5em;
}

@media(min-width: 768px){
	.block-content .content > .name > p {
		font-size: .9em;
	}
}

@media(min-width: 1440px){
	.block-content .content > .name > p {
		font-size: 1em;
	}
}

.block-content .content .image-block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(min-width: 768px){
	.block-content .content .image-block {
		max-width: 600px;
		width: 100%;
	}
}

.block-content .content .image-block .temp-1 {
	background: #456090;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 2em;
    bottom: 2em;
    right: 0;
    z-index: 1;
}

.block-content .content .image-block .temp-2 {
	background: #252525;
    border-radius: 2px;
    position: absolute;
    top: 2em;
    left: 0;
    bottom: 0;
    right: 2em;
    z-index: 2;
}

.block-content .content .image-block .wrap {
    z-index: 3;
    padding: 1em;
    max-height: 300px;
    display: flex;
}

.block-content .content .image-block .wrap > picture {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-content .content .image-block .wrap > picture > img {
    width: 100%;
    height: 100%;
	object-fit: contain;
}


.block-content .content .image-block .wrap > img {
    z-index: 2;
    position: relative;
}

.block-content .content .image-block .circle-1 {
	max-width: 75%;
    position: absolute;
    top: -75px;
	right: 0;
}

@media(min-width: 768px){
	.block-content .content .image-block .circle-1 {
		top: -60px;
		left: -30%;
	}
}

.block-content .content .image-block .circle-2 {
    width: 25%;
    position: absolute;
    top: -13%;
    left: -2%;
    z-index: 4;
}

.block-content .content .image-block .circle-3 {
    width: 30%;
    position: absolute;
    bottom: -25%;
    right: -13%;
}


/* pop-up order */

.main.service .wrap-pop-up {
	position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main.service .pop-up {
    background: white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
	max-width: 300px;
    width: 100%;
	height: 400px;
}

@media(min-width: 768px){
	.main.service .pop-up {
		max-width: 760px;
	}
}

.main.service .pop-up .wrap-info-block {
    padding: 20px 20px 0 20px;
	display: flex;
    flex-direction: column;
    align-items: flex-end;
	background: url(https://res.cloudinary.com/shop-consoles-ru/image/upload/v1601711786/City_driver-pana_1_1_xrrbxo.jpg);
    height: 100%;
	background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

@media(min-width: 768px){
	.main.service .pop-up .wrap-info-block {
		background-position: 175% 30px;
	}
}

.main.service .pop-up .close {
    width: 15px;
    height: 15px;
	cursor: pointer;
}

@media(min-width: 768px){
	.main.service .pop-up .close {
		width: 17px;
		height: 17px;
		align-self: flex-end
	}
}

.main.service .pop-up .info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
	width: 100%;
	margin-top: 20px;
}

@media(min-width: 768px){
	.main.service .pop-up .info-block {
		width: 65%;
		margin-top: 3em;
		align-self: flex-start;
	}
}

.main.service .pop-up .info-block svg {
    width: 50px;
    height: 50px;
}

@media(min-width: 768px){
	.main.service .pop-up .info-block svg {
		width: 80px;
		height: 80px;
	}
}

.main.service .pop-up .info-block .name {
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: #14356F;
	margin-top: 1em;
}

@media(min-width: 768px){
	.main.service .pop-up .info-block .name {
		font-size: 24px;
		line-height: 29px;
		margin-top: 25px;
	}
}

.main.service .pop-up .info-block .desc {
	font-weight: 500;
	font-size: 9px;
	line-height: 11px;
	color: #14356F;
	margin-top: .25em;
}

@media(min-width: 768px){
	.main.service .pop-up .info-block .desc {
		font-size: 14px;
		line-height: 17px;
		margin-top: 10px;
	}
}

.main.service .pop-up .info-block .button {
	font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #FEFEFE;
    background: linear-gradient(92deg, #456091 0%, #27467D 100%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    margin-top: 1em;
    max-width: 120px;
    width: 100%;
    text-align: center;
    padding: 1em;
	cursor: pointer;
}

@media(min-width: 768px){
	.main.service .pop-up .info-block .button {
		max-width: 160px;
		padding: .65em;
		margin-top: 30px;
		font-size: 16px;
		line-height: 20px;
	}
}



/* admin */
.main.admin {
    padding: 1em;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;

	background: linear-gradient(360deg, #14356F 0%, rgba(20, 53, 111, 0) 100%), linear-gradient(0deg, rgba(20, 53, 111, 0.93), rgba(20, 53, 111, 0.93));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.main.admin a {
    color: white;
}


.main.admin .form {
	max-width: 320px;
    margin: 0 auto;
    width: 100%;
    background: white;
    border-radius: 5px;
    padding: 1em;
}

.main.admin .form > h2 {
    color: #14356F;
    text-align: center;
}

.main.admin .form > .input {
	margin-bottom: 2em;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: .5em;
}

.main.admin .form > .input > p {
    color: black;
}

.main.admin .form > .input > input {
	padding: 0;
    width: 100%;
    border: none;
}

.main.admin .form > .input > textarea {
	padding: 0;
    width: 100%;
    border: none;
	min-height: 250px
}

.main.admin .form > .btn {
	background: #14356F;
    padding: 1em;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
	cursor: pointer;
}

.main.admin .objects {
	
}

.main.admin .objects .object {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
	margin: 2em 0;
	align-items: center;
}

.main.admin .objects .object > img {
    width: 25px;
    height: 25px;
    object-fit: contain;
	margin-right: 1em;
}

.main.admin .objects .object > .name {
    color: white;
    text-decoration: none;
    flex-grow: 1;
}

.main.admin .objects .object > svg {
    width: 1.5em;
    height: 1.5em;
	cursor: pointer;
}

.main.admin > .links {
    margin: 1em 0;
	display: flex;
    align-items: center;
}

.main.admin > .links > .link {
    color: white;
	margin: 1em;
	text-decoration: none;
}

.main.admin > .links > .link.router-link-active {
	text-decoration: underline;
}

.admin .tabs {

}

.admin .tabs .images_block .images {
    display: flex;
	flex-wrap: wrap;
}

.admin .tabs .images_block .images .image {
	max-width: 320px;
    margin: 1em;
    position: relative;
    padding: 1em;
}

.admin .tabs .images_block .images .image.default {
	border: 1px solid;
}

.admin .tabs .images_block .images .image .del {
    background: white;
    color: black;
    padding: .5em;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
	margin-top: 1em;
}

.admin .tabs .images_block .input {
    display: flex;
}

.admin .tabs .images_block .input img {
	width: 50px;
}

.admin .tabs .images_block .input input {
	width: 100%;
    background: none;
    padding: 0;
    margin: 0em 1em;
    color: white;
	border: none;
    border-bottom: 2px solid white;
}

.admin .tabs .images_block .input input::placeholder {
    color: white;
}

.admin .tabs .images_block .input .add {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    color: black;
    padding: .5em 1em;
    border-radius: 5px;
	cursor: pointer;
}

.admin .tabs .assoc_objects {

}

.admin .tabs .assoc_objects .object {
    display: flex;
    align-items: center;
	margin-top: 1em;
}

.admin .tabs .assoc_objects .object .name {
	margin-left: 1em;
}

.admin .tabs .assoc_objects .object .chekbox {
    width: 25px;
    height: 25px;
    border: 1px solid white;
	cursor: pointer;
}




/* feedback */
.feedback {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
.feedback > .back {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: .5;
}
*/

.feedback > .wrap {
    z-index: 1;
    background: white;
    margin: 1em;
    border-radius: 5px;
	min-width: 300px;
}

@media (min-width: 360px){
    .feedback > .wrap {
        max-width: 550px;
    }
}

.feedback > .wrap > .top > .name {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: .0125em;
    padding: 16px 1em 10px;
    border-bottom: 1px solid rgba(0,0,0,.12);
	color: black;
}

.feedback > .wrap > .cnt {
    padding: 1em;
}

.feedback > .wrap > .cnt > .name {
    font-size: 15.4539px;
    letter-spacing: 0.01em;
    color: #A7A7A7;
    margin-bottom: 1em;
}

.feedback > .wrap > .cnt > a.img {
    height: 200px;
    display: block;
    margin-bottom: 1em;
}

.feedback > .wrap > .cnt > a.img > img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.feedback > .wrap > .cnt > .wrap {
    position: relative;
    margin-bottom: 1em;
	border-radius: 5px;
}

.feedback > .wrap > .cnt > .wrap.checkbox {
    display: flex;
    align-items: center;
    color: rgba(0,0,0,.6);
    font-size: 14px;
	margin: 2em 0;
}

.feedback > .wrap > .cnt > .wrap.input > label, .feedback > .wrap > .cnt > .wrap.textarea > label {
    left: 10px;
    right: auto;
    position: absolute;
    background: white;
    color: rgba(0,0,0,.6);
    font-size: 14px;
    top: -8px;
    padding: 0 5px;
}

.feedback > .wrap > .cnt > .wrap.textarea > textarea {
    border: 1px solid rgba(0,0,0,.38);
    width: 100%;
    border-radius: 5px;
    margin: 0;
    padding: 15px 10px 0;
    min-width: 100%;
    max-width: 100%;
    max-height: 300px;
    min-height: 200px;
}

.feedback > .wrap > .cnt > .wrap.textarea > textarea::placeholder {
    color: #adadad;
    font-weight: 400;
    letter-spacing: .1px;
    font-family: 'Montserrat', sans-serif;
}

.feedback > .wrap > .cnt > .wrap.input > input::placeholder {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: .1px;
}

.feedback > .wrap > .cnt > .image {
    margin-bottom: 1em;
}

@media (min-width: 360px){
    .feedback > .wrap > .cnt > .image {
        display: flex;
        align-items: flex-start;
    }
}

.feedback > .wrap > .cnt > .image > img {
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}

@media (min-width: 360px){
    .feedback > .wrap > .cnt > .image > img {
        max-width: 80px;
        height: 60px;
        margin-right: 5px;
    }
}

.feedback > .wrap > .cnt > .image > .right {
    margin-top: 5px;
	width: 100%;
}

@media (min-width: 360px){
    .feedback > .wrap > .cnt > .image > .right {
        margin-top: 0;
    }
}

.feedback > .wrap > .cnt > .image > .right > .wrap {
    cursor: pointer;
}

.feedback > .wrap > .cnt > .image > .right > .wrap > div {
    margin: 0;
    width: 100%;
    padding: 20px 15px 20px;
    border: 1px solid rgba(0,0,0,.38);
    border-radius: 5px;
    color: #adadad;
    font-size: .8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
	word-break: break-all;
}

.feedback > .wrap > .cnt > .image > .right > .wrap > div > svg {
    width: 1.5em;
    height: 1.5em;
}

.feedback > .wrap > .cnt > .image > .right > .wrap > input {
    margin: 0;
    width: 100%;
    padding: 20px 15px 20px;
    border: 1px solid rgba(0,0,0,.38);
    border-radius: 5px;
}

.feedback > .wrap > .cnt > .image > .right > .wrap > input::placeholder {
    color: #adadad;
    font-weight: 400;
    letter-spacing: .1px;
}

.feedback > .wrap > .cnt > .image > .right > .name {
    font-size: 12px;
    color: rgba(0,0,0,.6);
    margin: 10px 0 0 0;
}

.feedback > .wrap > .cnt > .desc {
    font-size: 15.4539px;
    letter-spacing: 0.01em;
    color: #A7A7A7;
    margin-bottom: 1em;
}

.feedback > .wrap > .cnt > .wrap.input > input {
    border: 1px solid rgba(0,0,0,.38);
    width: 100%;
    border-radius: 5px;
    margin: 0;
    padding: 20px 15px 20px;
    min-width: 100%;
}

.feedback > .wrap > .btm {
    padding: 1em;
    border-top: 1px solid rgba(0,0,0,.12);
}

@media (min-width: 390px){
    .feedback > .wrap > .btm {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.feedback > .wrap > .btm > .send {
    color: rgba(0, 0, 0, 0.26);
    text-transform: uppercase;
    text-align: center;
    padding: 0.5em 0;
    background: #fcfcfc;
    cursor: pointer;
}

.feedback > .wrap > .btm > .send.active {
    color: rgb(25, 118, 210);
}

@media (min-width: 390px){
    .feedback > .wrap > .btm > .send {
        padding: .75em 1em;
    }
}

.feedback > .wrap > .btm > .cancel {
    margin-top: 1em;
    color: rgb(25, 118, 210);
    text-transform: uppercase;
    text-align: center;
    padding: 0.5em 0;
}

@media (min-width: 390px){
    .feedback > .wrap > .btm > .cancel {
        padding: .75em 1em;
        margin-top: 0;
        cursor: pointer;
    }
}

.hidden {
    display: none;
}
