

/* catalog */

.main.category {
    background: #0B1E43;
	display: flex;
    justify-content: center;
}

.wrap-categories {
    max-width: 1440px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.wrap-categories .top-block {
    border-bottom: 1px solid #0F295B;
    padding-bottom: 1em;
}

.wrap-categories .categories-image {
    margin-bottom: 1em;
    max-width: 100%;
    height: auto;
}

@media (min-width: 500px){
	.wrap-categories .categories-image {
		max-width: 250px;
		margin-right: 1em;
		margin-bottom: 0;
		float: left;
	}
}

@media (min-width: 768px){
	.wrap-categories .categories-image {
		margin-bottom: 0;
	}
}

.categories-h1 {
    margin: 1em 0;
    color: #00BEFE;
	font-size: 1.25em;
}

@media (min-width: 500px){
	.categories-h1 {
		margin: 0 0 1em;
	}
}

.wrap-categories .top-block .categories-desc {
    margin: 0;
	font-size: .9em;
}

.bottom-block {
    display: flex;
    flex-direction: column;
	font-size: .9em;
}

@media (min-width: 1000px){

	.bottom-block {
		flex-direction: row;
	}

	.left-block {
		min-width: 250px;
		margin-right: 1em;
	}
}

@media (min-width: 1280px){
	.bottom-block {
		font-size: 1em;
	}
}

.left-block-name {
    margin: 1em 0;
    border-bottom: 1px solid #0F295B;
    padding: 0 0 1em;
	text-transform: uppercase;
}
.right-block {
    flex-grow: 1;
}
.filter {
    margin-top: 1em;
    border: 1px solid #0F295B;
    padding: 1em;
}

.search-block {
    display: flex;
    align-items: center;
    border: 1px solid white;
    justify-content: space-between;
}

.search-block .search {
    width: 100%;
    padding: .5em;
	border: none;
    background: no-repeat;
}

.right-filter {
    border-bottom: 1px solid #0F295B;
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 768px){
	.right-filter {
		padding: 0;
	}
}

.right-block {
    flex-grow: 1;
	display: flex;
    flex-direction: column;
}

.sort-block {
    cursor: pointer;
    position: relative;
}

.sort-by {
    display: flex;
    align-items: flex-end;
    margin: 1em 0;
    transition: color .3s ease;
    text-transform: uppercase
}

.sort-by svg {
    margin-left: .5em;
    width: 1em;
    height: 1em;
}
.sort-by svg path {
	fill: white;
}

.sort-by-list {
    position: absolute;
    background: white;
    color: black;
    padding: 1em;
    min-width: 250px;
    border-radius: .5em;
    left: -8em;
    box-shadow: 0 0 1em black;
    display: none;
}

.sort-by-list .sort-by {
    text-transform: none;
}

.category-product {
    display: flex;
	flex-direction: column;
	justify-content: space-between;
    border: 1px solid #0F295B;
    padding: 1em;
    margin: 1em 0;
	font-size: .9em;
}

.category-product-right-block {
    display: flex;
    flex-direction: column;
	flex-grow: 1;
}

.category-product picture img {
	object-fit: cover;
}

@media (min-width: 500px){

	.category-product {
		flex-direction: row;
	}

	.category-product picture {
		margin-right: 1em;
		display: flex;
		min-width: 200px;
		max-width: 200px;
	}
}

@media (min-width: 1000px){
	.category-product picture {
		min-width: 250px;
		max-width: 250px;
	}
}

.category-product-name {
    font-size: 1.2em;
	margin: 1em 0;
    color: white;
    display: block;
	
}

@media (min-width: 500px){
	.category-product-name {
		margin: 0 0 1em;
	}
}

.category-product-desc {
    color: lightslategray;
    margin-bottom: 2em;
    flex-grow: 1;
}

.category-product-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 950px){
	.category-product-price {
		flex-direction: row;
		width: 100%;
	}
}

.product-price-block {
    font-size: 1em;
    background: #00BEFE;
    padding: .5em;
    border-radius: 5px;
}

.product-price-block img {
    width: .6em;
}

.product-add-basket {
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #0F295B;
    text-transform: uppercase;
    border-radius: .5em;
    transition: all 250ms ease;
    padding: .5em 1em;
}

.basket-name {
    text-align: center;
}

/* product */
.main.product {
    background: #0B1E43;
	display: flex;
    justify-content: center;
}

.product .wrap-product {
    max-width: 1440px;
	padding: 1em;
}

.product picture.product-main-img {
    display: flex;
	width: 100%;
    height: 100%;
}

.product picture.product-main-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (min-width: 600px){
	
	.product .wrap-product .top-block {
		display: flex;
	}
	
	.product .wrap-product .top-block .left-block {
		min-width: 50%;
		margin-right: 1em;
	}
	
}

.product h1.product-name {
    font-size: 1.25em;
	text-align: center;
}

@media (min-width: 768px){
	.product h1.product-name {
		font-size: 1.5em;
	}
}


.product .price {
    display: flex;
    align-items: center;
    font-size: 2em;
    justify-content: center;
}

.product .price img {
    height: 25px;
    margin-right: .25em;
}

.product .short-desc {
    font-size: .8em;
    margin-top: 1em;
    color: lightslategray;
	flex-grow: 1;
}

@media (min-width: 1300px){
	.product .short-desc {
		font-size: .9em;
	}
}

.product .del-basket {
    display: flex;
    align-items: center;
}

.product .del-basket svg {
    width: 1em;
    height: 1em;
}

.product .add-basket {
    display: flex;
    align-items: center;
}

.product .add-basket svg {
    width: 1em;
    height: 1em;
}

.product .count-basket {
    width: 35px;
    margin: 0 .5em;
    text-align: center;
}

.product .count-products {
    display: flex;
    align-items: center;
    background: #0F295B;
    padding: 1em;
    font-size: 1.25em;
	margin-right: .5em;
}

.product .product-alert {
    background: white;
    padding: 1em;
    color: green;
    font-size: .8em;
    text-align: center;
    margin-top: 2em;
}

@media (min-width: 768px){
	.product .product-alert {
		font-size: 1em;
	}
}

.product .block-add-cart {
    margin-top: 1em;
	display: flex;
}

.product .add-products {
	background: #0F295B;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    text-transform: uppercase;
    width: 100%;
}

.product .tabs {
    margin: 1em 0;
}

@media (min-width: 480px){
	.product .tabs {
		display: flex;
	}
}

.product .tabs .name {
    margin: 1em 0;
	text-transform: uppercase;
	font-size: 1em;
	cursor: pointer;
	color: lightslategray;
}

@media (min-width: 480px){
	.product .tabs .name {
		margin: 1em 1em 0 0;
	}
}

@media (min-width: 600px){
	.product .tabs .name {
		font-size: 1.25em;
	}
}

.product .tabs .name.active {
	color: gold;
}

.product .content {
    color: #ededed;
    font-size: .8em;
	margin-left: 1em;
}

@media (min-width: 600px){
	.product .content {
		font-size: 1em;
	}
}

.product .characteristic {
	display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1em;
	font-size: .9em;
	margin-bottom: 1em;
}

.product .characteristic .key {
    color: silver;
	margin-right: 1em;
}

.product .characteristic > div {
    width: 50%;
}

/* basket */
.main.basket {
    background: #0B1E43;
	display: flex;
    justify-content: center;
}

.basket .wrap-basket {
    max-width: 1440px;
	padding: 1em;
	width: 100%;
	display: flex;
    flex-direction: column;
}

.basket .products {
    flex-grow: 1;
}

.basket .wrap-basket h1 {
    text-align: center;
	font-weight: 400;
}

.basket .basket-product {
    display: flex;
    align-items: center;
	margin: 1em 0;
	border: 1px solid #0f295b;
	padding: 1em;
	font-size: .8em;
}

@media (min-width: 768px){
	.basket .basket-product {
		font-size: 1em;
	}
}

.basket .basket-product .image, .basket .basket-product .name, .basket .basket-product .price, .basket .basket-product .count {
	margin-right: 1em;
}

.basket .basket-product .image {
	display: none;
}

@media (min-width: 500px){
	.basket .basket-product .image {
		max-width: 100px;
		display: flex;
	}
}

.basket .basket-product .name {
    flex-grow: 1;
}

.basket .basket-product .count {
    min-width: 35px;
    text-align: center;
}

.basket .basket-product .delete {
    display: flex;
}

.basket .basket-product .delete svg {
    width: 1em;
    height: 1em;
}

.basket .empty {
    text-align: center;
    color: lightgray;
    font-style: italic;
}

.oreder-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #0f295b;
    width: 100%;
}

@media (min-width: 500px){
	.oreder-info {
		flex-direction: row;
		justify-content: space-between;
	}
}

.basket-result {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1em 0;
}

.basket-result .name {
    margin-right: 1em;
}

.button.order {
    background: white;
    color: #0B1E43;
    padding: 1em;
    text-align: center;
    font-weight: 600;
    max-width: 250px;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    font-size: .8em;
}

/* order */
.main.order {
    background: #0B1E43;
	display: flex;
    justify-content: center;
}

.order .wrap-order {
    max-width: 1440px;
	padding: 1em;
	width: 100%;
	display: flex;
    flex-direction: column;
	align-items: center;
}

.order h1 {
    font-weight: 500;
    font-size: 1.6em;
    text-transform: uppercase;
	text-align: center;
}


input::-webkit-input-placeholder {font-family: 'Montserrat', sans-serif; color: #A1A1A1;}
input::-moz-placeholder          {font-family: 'Montserrat', sans-serif; color: #A1A1A1;}
input:-moz-placeholder           {font-family: 'Montserrat', sans-serif; color: #A1A1A1;}
input:-ms-input-placeholder      {font-family: 'Montserrat', sans-serif; color: #A1A1A1;}

textarea::-webkit-input-placeholder {font-family: 'Montserrat', sans-serif; color: #A1A1A1;}
textarea::-moz-placeholder          {font-family: 'Montserrat', sans-serif; color: #A1A1A1;}
textarea:-moz-placeholder           {font-family: 'Montserrat', sans-serif; color: #A1A1A1;}
textarea:-ms-input-placeholder      {font-family: 'Montserrat', sans-serif; color: #A1A1A1;}

